body{ margin:0px; }
ul{
	background:black;
	padding:18px;
	margin:0px;
	text-align:center;
	position:fixed;
	width:100%;
}

ul li{
	display:inline;
	padding:20px;
}

ul li a{
	color:white;
	text-decoration:none;
	font-weight:bold;
}

ul li:hover{
	background:purple;
	cursor:pointer;
}

ul li:hover a{
	color:yellow;
}

/* css animation */
@keyframes mybanner{
	25%{color:red; font-size:50px; background:orange;}
	50%{color:orange; font-size:60px; background:green;}
	75%{color:green; font-size:65px; background:pink;}
}


#banner{
	padding:100px;
	height:120px;
	background:skyblue;
	text-align:center;
	font-size:70px;
	font-weight:bold;
	color:white;
	animation:mybanner;
	animation-iteration-count:5;
	animation-duration:10s;
}

#popular{
	background:blue;
	padding:20px;
	color:white;
	padding-left:10%;
	padding-right:10%;
}

.popular-pic{
	margin:1%;
	width:22.5%;
	height:130px;
	border-radius:5px;
}

.popular-pic:hover{
	opacity:0.8;
	box-shadow:0px 0px 10px white;
	cursor:pointer;
}

#clearblock{
	clear:both;
}

#service{
	padding:20px;
	padding-left:10%;
	padding-right:10%;
}

.serviceblock{
	margin:1%;
	padding:1%;
	width:29.33%;
	float:left;
	box-shadow:0px 0px 10px yellow;
	border-radius:5px;
}

.serviceblock:hover{
	box-shadow:0px 0px 10px blue;
}

footer{
	background:green;
	padding:20px;
	text-align:center;
	height:150px;
	color:white;
	font-weight:bold;
	margin-top:20px;
}

#inputblock{
	width:350px;
	padding:30px;
	margin:auto;
	margin-top:40px;
	border:5px double orange;
	border-radius:5px 50px 5px 50px;
}

legend{
	background:green;
	padding:8px 30px 8px;
	color:white;
	border-radius:5px 5px 0px 0px;
}

#inputblock table{
	width:100%;
}

#inputblock table tr{
	height:40px;
}

.inputbox{
	height:30px;
	width:100%;
	outline:none;
}

.inputbox:focus{
	border:1px solid red;
}

button{
	background:green;
	padding:10px 30px 10px;
	border:none;
	color:white;
	cursor:pointer;
}

button:hover{
	background:red;
}

button:focus{
	background:black;
	border-radius:0px 50% 0px 50%;
}

.mt200{
	margin-top:200px;
}

#product h1{
	text-align:center;
	color:orange;
}

#product{
	padding:30px 10% 30px;
	min-height:400px;
}

.myproduct{
	margin:1%;
	padding:1%;
	width:29.33%;
	float:left;
	text-align:center;
	box-shadow:0px 0px 5px blue;
	border-radius:5px;
	cursor:pointer
}

.red{ color:red; }
.green{ color:green; }
.blue{ color:blue; }

.myproduct .fa:hover{
	color:pink;
}

.myproduct:hover h3{
	color:darkblue;
	text-decoration:underline;
}

.myproduct:hover{
	box-shadow:0px 0px 3px orange;
}

#active{
	background:purple !important;
}

#active a{
	color:yellow !important;
}

.service{
	margin-bottom:15px;
	clear:both;
	padding:15px;
}

.service:hover{
	cursor:pointer;
	box-shadow:0px 0px 2px grey;
}